.DS_STORE
Thumbs.db 
.idea
.chrome
/*.log
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Dependencies
node_modules

# Compiled files
/scripts
/src/environment.ts
/dist
/test/coverage-jest
